@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

#container
{
	width: 95%; /*just a percent that marco prefers */
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

#box1 
{
	background-color: red;
	width: 50%;
	height: 300px;
}

#box2
{
	background-color: blue;
	width: 50%;
	height: 300px;
}